@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Roboto+Slab:wght@300&family=Ubuntu:wght@300&display=swap');
body {
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Top half */
section {
    width: 100%;
    height: 55vh;
	background-color: rgb(246, 245, 245);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0 5%;
}

nav ul {
    display: flex;
} 

nav ul li a {
    margin: 30px;
    font-family: 'Jaldi', sans-serif;
    color: #505050;
    font-size: 18px;
    font-weight: 700;
}

.logo {
    font-family: 'Jaldi', sans-serif;
    color: #000;
    font-size: 22px;
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1) {
    font-family: 'Ubuntu', sans-serif;; 
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-family: 'Ubuntu', sans-serif;;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: 'Ubuntu', sans-serif;;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p {
    line-height: 0;
    margin: 45px 0 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.about-container {
    width: 80%;
    height: 330px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img {
    height: 250px;
    box-shadow: 1px 1px 1px 1px;
}

.about-text {
    width: 550px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.about-text p:nth-child(3) {
    color: #3e3d3d;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

/* Projects */
.services {
    height: 600px;
    background-color: #fff;
    padding: 2% 10% 0 10%;
}

.services-text {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #1d1c1c;
    font-size: 30px;
    line-height: 0;
    text-align: center;
    margin-bottom: 50px;
}

.box-container {
	display: flex;
	justify-content: space-evenly;
    align-items: flex-end;
}
.box-1,
.box-2,
.box-3,
.box-4 {
	width: 300px;
	height: 320px;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0 4px;
}
 
.box-1 {
	background-image: url("./Images/project 1.png");
}

.box-2 {
	background-image: url("./Images/project 2.png");
}

.box-3 {
	background-image: url("./Images/project 3.png");
}

.box-4 {
	background-image: url("./Images/project 4.png");
}

.box-1 button,
.box-2 button,
.box-3 button,
.box-4 button {
	width: 100px;
	height: 30px;
	background-color: white;
	border: 1px solid black;
	outline: black;
	border-radius: 5px;
    margin-bottom: 0px;
}

/* Contact Me */
.contact-me{
	width: 100%;
	height: 280px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url("../images/project in your mind.png");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;
}
.contact-me p{
	color: #FFFFFF;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom: 2px solid #ffffff;
}
.contact-me button{
	width: 200px;
	height: 40px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: bold;
}

/* Footer */
footer p {
	font-family: 'Jaldi', sans-serif;
	text-align: center;
}
footer p:nth-child(1) {
	font-size: 30px;
	font-weight: bold;
	color: #191919;
}

footer {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.social-icons a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons {
	display: flex;
	
}
.social-icons i,.social i {
	color: #000000;
}
.social-icons a:hover {
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i {
	color: #FFFFFF;
	transition: all ease 0.5s;
}
 
.copyright {
	color: #565555;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}
.social {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.social a { 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	line-height: 0;
	background-color: #FFFFFF;
	border: 1px solid #CBCBCB;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover {
	background-color: #000000;
	transition: all ease 0.5s;
}
.social i {
	font-size: 20px;
	color: #2B2B2B;
}

/* JQuery */
@media(max-width:1000px){
	* {
		box-sizing: border-box;
	}

	.text-container {
		top:60%;
	}

	.about-container {
		width:90%;
		border-radius: 10px;
	}
	.about-container img {
		height: 200px;
	}
	.about-text {
		width: 400px;
	}
	.about-text p:nth-child(1) {
		font-size: 20px;
	}

	.services {
		padding: 2% 5% 0px 5%;
	}
	.box-container {
		justify-content: center;
		flex-wrap: wrap;
	}
	.services {
		height: auto;
	}
	.box-1,.box-2,.box-3 {
		flex-grow: 1;
		margin: 10px;
	}
	.contact-me {
		height: 200px;
	}
	.contact-me p {
		font-size: 26px;
	}
	.contact-me button {
		font-size: 14px;
		height: 35px;
		width: 160px;
	}
}
@media(max-width:750px) {
	section{
		background-image: none;
		background-color: #f7f7f7;
	}
	.model {
		display: none;
	}
	.toggle {
		display: block;
	}
	/* .text-container p:nth-child(2) {
		line-height: 40px;
		margin: 0px;
		padding: 0px;
		
	} */
	.text-container {
		top: 60%;
		left: 50%;
		transform: translate(-50%, -30%);
		width: 80%;
	} 
	nav ul {
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		display: none;
	}
	nav ul li {
		padding: 10px;
	}
	nav ul li a {
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color: #5c5c5c;
	}
	nav ul li a:hover {
		color: #121212;
	}
	.toggle:before {
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 1;
	}
	.toggle.active:before {
		content: '\f00d';
		position: fixed;
		right: 25px;
		line-height: 0;
	}
	nav.active ul {
		display: flex !important;
	}
	.about-container {
		top: 0;
		flex-direction: column;
		width: 90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text {
		width: 90%;
		text-align: center;
	}
	.services-text {
		width: 100%;
	}
	.contact-me {
		height: 180px;
	}
	.contact-me p {
		font-size: 18px;
	}
	.contact-me button {
		width: 150px;
		height: 33px;
	}
	footer p:nth-child(2) {
		width: 90%;
	}
}
